.form-shell {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.form-shell-wide {
  max-width: 960px;
}

.form-styled .form-label {
  font-weight: 600;
}

.form-styled .form-text {
  font-size: 0.85rem;
}

.form-styled .form-control,
.form-styled .form-select,
.form-styled textarea,
.form-styled input[type="text"],
.form-styled input[type="number"],
.form-styled input[type="email"],
.form-styled input[type="password"],
.form-styled input[type="date"],
.form-styled input[type="time"],
.form-styled input[type="tel"] {
  width: 100%;
}

.form-styled .form-check-input {
  margin-top: 0.35rem;
}

.form-styled .field-errors {
  font-size: 0.85rem;
}
